.container {
  background-image: url('/images/header.webp');
  min-height: 62.5vh;
  min-width: 100vw;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.4rem 0;
  position: relative;
}

.content {
  max-width: 1216px;
  margin: 0 auto;
}

.linksContainer {
  width: 100%;
  max-width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
}

.link {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.link:hover {
  border-bottom: 1px solid #fff;
}

.loginButton {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  border: 1px solid #faf0f0;
  padding: 8px 54px;
  margin-left: 24px;
  transition: all 0.3s;
}

.loginButton:hover {
  background-color: #faf0f0;
  color: #001C26;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
}

.titleWrapper {
  max-width: 488px;
  margin-top: 6.1875rem;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.625rem;
}

.subTitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.principles {
  background-color: white;
  width: 56.5rem;
  height: 6.25rem;
  position: absolute;
  bottom: -6.25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.principlesText {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 125%;
  color: #001C26;
  margin-left: 1rem;
}

.principleItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hambugerMenu {
  display: none;
}

@media (max-width: 1250px) {
  .content {
    padding-inline: 2rem;
  }
}

@media (max-width: 960px) {
  .principles {
    width: 43.75rem;
  }
}

@media (max-width: 840px) {
  .linksContainer {
    display: none;
  }

  .hambugerMenu {
    display: block;
  }
}

@media (max-width: 740px) {
  .principles {
    width: 37.5rem;
  }

  .principleItem>img {
    width: 40%;
  }
}

@media (max-width: 650px) {
  .principles {
    width: 31.25rem;
  }

  .principleItem {
    flex-direction: column;
  }

  .principlesText {
    font-size: 1rem;
    text-align: center;
    margin-left: 0;
    margin-top: 0.2rem;
  }

  .principleItem>img {
    width: 70%;
  }
}

@media (max-width: 560px) {
  .container {
    aspect-ratio: 10/9;
  }

  .principles {
    width: 31.25rem;
  }

  .titleWrapper {
    margin-top: 5rem;
  }

  .title {
    font-size: 2.25rem;
    line-height: 150%;
  }

  .subTitle {
    font-size: 1rem;
    line-height: 150%;
    margin-top: 1rem;
  }
}

@media (max-width: 440px) {
  .principleItem>img {
    width: 80%;
  }

  .principlesText {
    font-size: 0.875rem;
  }

  .title {
    font-size: 1.875rem;
  }

  .subTitle {
    font-size: 14px;
    margin-top: 1rem;
  }
}