.container {
  max-width: 76rem;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

.blogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogLead {
  font-weight: 500;
  font-size: 1rem;
  line-height: 125%;
  color: #334248;
}

.blogTitle {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  color: #001C26;
}

.blobLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  color: #008BC5;
}