.container {
  max-width: 76rem;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

.blogHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.blogLead {
  font-weight: 500;
  font-size: 1rem;
  line-height: 125%;
  color: #334248;
}

.blogTitle {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  color: #001C26;
}

.blobLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  color: #008BC5;
}

.slides {
  margin: 3.375rem 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33%;
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.slides::-webkit-scrollbar-thumb {
  background: #3342488b;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width:470px) {
  .slides {
    grid-auto-columns: 90%;
  }

  .blogLead {
    font-size: 12px;
  }

  .blogTitle {
    font-size: 16px;
  }

  .blobLink {
    font-size: 10px;
  }

}